/* elements */

html {
    scroll-behavior: smooth;
}

body{
    font-family:'Opens Sans', 'Montserrat', 'Helvetica', sans-serif;
    padding-top: 4rem;
}

.navbar{
    font-family: 'Yellowtail', 'Opens Sans', 'Montserrat', 'Helvetica', sans-serif;
    font-size: 1.5rem;
}

.header-h1{
    font-size:10vw;
    opacity:75%;
    -ms-transform: translateY(15%);
    transform: translateY(15%);
}

/* effects */

.round-right{
    border-top-right-radius:40% 50%;
    border-bottom-right-radius:40% 50%;
}

.round-left{
    border-top-left-radius:40% 50%;
    border-bottom-left-radius:40% 50%;
}

.hover:hover{
    transform: translate(0.1rem, 0.1rem);
    -webkit-transform: translate(0.1rem, 0.1rem);
    -ms-transform: translate(0.1rem, 0.1rem);
    -o-transform: translate(0.1rem, 0.1rem);
    cursor: pointer;
    color: #677821;
}

/* colour */

.green-header{
    color:#677821;
}

.bg-green{
    background-color:#ABC837;
}

.green{
    color: #ABC837;
}

/* font-face */

h1, h2,  .h1, .h2  {
    font-family: 'Yellowtail', 'Opens Sans', 'Montserrat', 'Helvetica', sans-serif;
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
    font-family: 'Opens Sans', 'Montserrat', 'Helvetica', sans-serif;
}

/* Medias */

@media only screen and (max-width: 1800px) {
    .arrow{
        display: none;
    }
}

@media only screen and (min-width: 1800px) {

    .header-h1{
        font-size:15vw;
        -ms-transform: translateY(5%);
        transform: translateY(5%);
    }

    .arrow{
        animation:blinker 2s linear infinite; /* animation: name timming duration */
        font-size: 5rem;
    }
    
    @keyframes blinker {
        50% {
          opacity: 0;
        }
    }


}