/* elements */

body{
    font-family:'Opens Sans', 'Montserrat', 'Helvetica', sans-serif;
}

.navbar{
    font-family: 'Yellowtail', 'Opens Sans', 'Montserrat', 'Helvetica', sans-serif;
    font-size: 1.5rem;
}

.header-h1{
    font-size:10vw;
    opacity:75%;
    -ms-transform: translateY(15%);
    transform: translateY(15%);
}

/* shape */

.round-right{
    border-top-right-radius:40% 50%;
    border-bottom-right-radius:40% 50%;
}

/* colour */

.green-header{
    color:#677821;
}

.bg-green{
    background-color:#ABC837;
}

.green{
    color: #ABC837;
}

/* font-face */

h1, h2, .h1, .h2 {
    font-family: 'Yellowtail', 'Opens Sans', 'Montserrat', 'Helvetica', sans-serif;
}

@media only screen and (max-width: 1800px) {
    .arrow{
        display: none;
    }
}

@media only screen and (min-width: 1800px) {

    .header-h1{
        font-size:15vw;
        -ms-transform: translateY(5%);
        transform: translateY(5%);
    }

    .arrow{
        animation:blinker 2s linear infinite; /* animation: name timming duration */
        font-size: 5rem;
    }
    
    @keyframes blinker {
        50% {
          opacity: 0;
        }
    }


}